body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ff6b6b, #f7c0c0, #ff7f50, #ffeb3b);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=207724') 16 16, auto;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: rgb(206, 206, 206); /* لون خلفية */
    text-align: center;
    text-decoration: none; /* إزالة خط تحت النص */
    border-radius: 5px; /* زوايا دائرية */
    transition: background-color 0.3s; /* تأثير الانتقال */
}

.button:hover {
    background-color: rgb(206, 206, 206); /* لون عند المرور بالماوس */
}
